<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="1" name="CreateAccount">
  <parameter name="testNumber" value="1"/>
  <parameter name="browser" value="Chrome"/>
  <classes>
  	<class name="Tests.Create_Account"/>
  </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
